# Terraform
infrastructure/terraform.tfvars
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup

# Python
__pycache__/
*.pyc
.pytest_cache/

# macOS
.DS_Store
